<p>candy-list works!</p>
<table class="table col-8">
  <thead>
    <tr>
      <td></td>
      <td>Nombre</td>
      <td>Description</td>
      <td>Tipo</td>
      <td>Precio</td>
      <td>Cantidad</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candy of candys">
      <td><img src={{candy.image}} alt=""></td>
      <td>{{candy.name}}</td>
      <td>{{candy.description}}</td>
      <td>{{candy.type}}</td>
      <td>{{candy.price | currency}}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="downQuantity(candy)">-</button>
        <input type="text" [(ngModel)]="candy.quantity">
        <button class="btn btn-primary btn-sm" (click)="upQuantity(candy)">+</button>
      </td>
    </tr>
  </tbody>
</table>