
<div class="container row align-items-center justify-content-evenly" *ngFor="let candy of candys">
  <div class="col-auto">
    <img src={{candy.image}} alt="">
  </div>
  <div class="col-auto">
    <h2>{{candy.name}}</h2>
    <p>{{candy.type}}</p>
    <p>{{candy.description}}</p>
    <h3>{{candy.price | currency}}</h3>
  </div>
  <div class="col-auto col-custom">
    <app-input-integer [(quantity)]="candy.quantity" [max]="candy.stock" (quantityChange)="candy.quantity = $event"></app-input-integer>
    <button class="btn btn-primary btn-sm" (click)="addToCart(candy)">Agregar</button>
    <p>Cantidad: {{candy.quantity}}</p>
    <p>Stock: {{candy.stock}}</p>
  </div>
</div>